
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <panel panel-css="panel-default">
        <panel-body panel-body-css="class1" panel-body-id="id">
            Hi
            <panel panel-css="panel-default">
                <panel-body panel-body-css="class1">
                    Inner Hi
                </panel-body>
                <panel-footer>
                    Inner footer
                </panel-footer>
            </panel>
        </panel-body>
    </panel>
</div>